* {
    margin: 0;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
}

.nav {
    display: flex;
    justify-content: space-around;
    align-items: center;
    height: 4.44rem;
    padding: 0 12%;
    background-color: #354e7e;
    box-shadow: 0 2px 6px 0 rgba(0, 0, 0, 0.05);
    font-family: Verdana, sans-serif;
    font-size: .77rem;
    font-weight: bold;
    
}

.nav li {
        display: inline;
        padding-right: 2.22rem;
       
}

.nav li a {
    color: white;
    text-decoration: none;
    font-size: larger;
    cursor: pointer;
}

li a:hover {
    color: purple;
    font-size: x-large;
    transition: font-size .1s;
}

.banner h2 {
    text-align: center;
    background-color: #6181bd;
    padding: 5px;
    color: white;
}

.banner h1 {
    background-color: #92a8d1;
    color: white;
    padding: 10px;
}

div {
    background-color: #d4dded;
    
}

.section {
    padding: 20px;
}

table {
    margin: 0;
}

table, th, td{
    text-align: left;
    
}

tr:nth-child(even) {
    background-color: #e9eef6;
}

tr:hover {
    background-color: #92a8d1;

}


th {
    background-color: #a9badb;
    color: white;
    padding-top: 10px;
    padding-bottom: 10px;
    font-size: large;
}

td {
    padding: 8px;
    border: 1px solid;
}
.code {
    font-family:monospace, "Lucida Console", Courier;
    color:lime;
    background-color: black;
}

.hover:hover {
    background-color: lime;
}

#brushscript {
    font-family: "brush script MT";
}

#size {
    font-size: 35px;
}

#lightest {
    font-weight: lighter;
}

#darkest {
    font-weight: bolder;
}

#center {
    text-align: center !important;
}

#color {
    color: white;
    background-color: black
}

#opacity {
    background-color:red;
    opacity: 0.5;
}

#flag {
    background-image: url(https://upload.wikimedia.org/wikipedia/en/thumb/a/a4/Flag_of_the_United_States.svg/2880px-Flag_of_the_United_States.svg.png) !important;
    background-position:left 10% top 10%;
    color: red;
}

footer {
    background-color: #354e7e;
    height: 4.44rem;
    align-items: center;
    display: flex;
    justify-content: space-around;
    
}

p {
    color: white;
    font-size: larger;
    font-weight: bold;
    
    
}
